body{
	color: blue;
	/* font-family: 'Petit Formal Script', cursive; */
	font-family: 'Times New Roman';
	background-color: lightskyblue;
	font-size: 50px;
	text-align: center;
	margin-top: 0;
	background-size: 100% 100%;
}

#bg {
	background-image: url('images/cookiemonster.png');
	/* background-size: cover; */
	background-size: 500px, 500px;
	background-position: center center;
	height: 120vh;
	z-index: -10;
	padding: 0px;
}

#transbox {
  height: 375px;
  width: 300px;
  margin: 0 auto;
  background-color: lightblue;
  border: 3px dashed black;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* font-family: 'Petit Formal Script', cursive; */
  font-family: 'Times New Roman';
  text-align: center;
  color: blue;
  font-size: 25px;
  text-align: center;
   /* For IE8 and earlier */
}

#footer1 {
	font-size: 20px;
	color: blue;
	display: inline-block;
	font-family: 'Arial';
}

